<div class="actual__control">
  <div class="actual__control-item is-active">Актуальная информация</div>
</div>
<div class="actual__main cf">
  <img class="actual__main-img" src="http://placehold.it/305x210">
  <div class="actual__main-info">24.07.16 | Политика</div>
  <div class="actual__main-title">
    Жданова заменит Жамсуева на нового сенатора при победе на выборах —  «Коммерсант»
  </div>
  <div class="actual__main-description">
    Кан­ди­дат в гу­бер­на­торы Забай­калья Наталья Жда­нова не вклю­чила се­нато­ра Ба­ира Жам­су­ева в трой­ку сво­их кан­ди­датов на пост пред­ста­вите­ля ре­ги­она в Сове­те фе­дера­ции РФ, один из ко­торых ока­жет­ся в се­нате при по­беде Жда­новой.
  </div>
</div>
<div class="actual__list">
  <div class="actual__list-item cf">
    <img class="actual__list-img" src="http://placehold.it/305x210">
    <div class="actual__list-body">
      <div class="actual__list-info">24.07.16 | Политика</div>
      <div class="actual__list-title">
        Фальсифицированное масло из Беклемишево продавали в Забайкалье. 
      </div>
    </div>
    <a href="javascript:;" class="actual__list-link">Новость</a>
  </div>
  <div class="actual__list-item cf">
    <img class="actual__list-img" src="http://placehold.it/305x210">
    <div class="actual__list-body">
      <div class="actual__list-info">24.07.16 | Политика</div>
      <div class="actual__list-title">
        Фальсифицированное масло из Беклемишево продавали в Забайкалье. 
      </div>
    </div>
    <a href="javascript:;" class="news-block__list-link">Новость</a>
  </div>
  <div class="actual__list-item cf">
    <img class="actual__list-img" src="http://placehold.it/305x210">
    <div class="actual__list-body">
      <div class="actual__list-info">24.07.16 | Политика</div>
      <div class="actual__list-title">
        Фальсифицированное масло из Беклемишево продавали в Забайкалье. 
      </div>
    </div>
    <a href="javascript:;" class="news-block__list-link">Новость</a>
  </div>
</div>
<a class="actual__btn" href="javascript:;">Вся актуальная информация</a>