<div class="entries__control">
  <div class="entries__control-item" ng-class="{'is-active':$index === tab}" ng-repeat="title in titles">{{ title }}</div>
</div>

<div class="entries__items">
  <div class="entries__items-wrap">
    <div class="entries__item">
      <img class="entries__item-img" src="http://placehold.it/305x210">
      <div class="entries__item-info">24.07.16 | Политика</div>
      <div class="entries__item-title">
        Жданова заменит Жамсуева на нового сенатора при победе на выборах —  «Коммерсант»
      </div>
      <div class="entries__item-description">
        Кан­ди­дат в гу­бер­на­торы Забай­калья Наталья Жда­нова не вклю­чила се­нато­ра Ба­ира Жам­су­ева в трой­ку сво­их кан­ди­датов на пост пред­ста­вите­ля ре­ги­она в Сове­те фе­дера­ции РФ, один из ко­торых ока­жет­ся в се­нате при по­беде Жда­новой.
      </div>
      <a href="javascript:;" class="entries__item-link">link</a>
    </div>
    <div class="entries__item">
      <img class="entries__item-img" src="http://placehold.it/305x210">
      <div class="entries__item-info">24.07.16 | Политика</div>
      <div class="entries__item-title">
        Жданова заменит Жамсуева на нового сенатора при победе на выборах —  «Коммерсант»
      </div>
      <div class="entries__item-description">
        Кан­ди­дат в гу­бер­на­торы Забай­калья Наталья Жда­нова не вклю­чила се­нато­ра Ба­ира Жам­су­ева в трой­ку сво­их кан­ди­датов на пост пред­ста­вите­ля ре­ги­она в Сове­те фе­дера­ции РФ, один из ко­торых ока­жет­ся в се­нате при по­беде Жда­новой.
      </div>
      <a href="javascript:;" class="entries__item-link">link</a>
    </div>
    <div class="entries__item">
      <img class="entries__item-img" src="http://placehold.it/305x210">
      <div class="entries__item-info">24.07.16 | Политика</div>
      <div class="entries__item-title">
        Жданова заменит Жамсуева на нового сенатора при победе на выборах —  «Коммерсант»
      </div>
      <div class="entries__item-description">
        Кан­ди­дат в гу­бер­на­торы Забай­калья Наталья Жда­нова не вклю­чила се­нато­ра Ба­ира Жам­су­ева в трой­ку сво­их кан­ди­датов на пост пред­ста­вите­ля ре­ги­она в Сове­те фе­дера­ции РФ, один из ко­торых ока­жет­ся в се­нате при по­беде Жда­новой.
      </div>
      <a href="javascript:;" class="entries__item-link">link</a>
    </div>
    <div class="entries__item">
      <img class="entries__item-img" src="http://placehold.it/305x210">
      <div class="entries__item-info">24.07.16 | Политика</div>
      <div class="entries__item-title">
        Жданова заменит Жамсуева на нового сенатора при победе на выборах —  «Коммерсант»
      </div>
      <div class="entries__item-description">
        Кан­ди­дат в гу­бер­на­торы Забай­калья Наталья Жда­нова не вклю­чила се­нато­ра Ба­ира Жам­су­ева в трой­ку сво­их кан­ди­датов на пост пред­ста­вите­ля ре­ги­она в Сове­те фе­дера­ции РФ, один из ко­торых ока­жет­ся в се­нате при по­беде Жда­новой.
      </div>
      <a href="javascript:;" class="entries__item-link">link</a>
    </div>
  </div>
  <a class="entries__btn" ui-sref="afisha">Вся афиша</a>
</div>