<div class="headline__container js-headline-container">
  <div class="headline__wrap cf">
    <div class="headline__search"><div class="headline__search-wrap">
      <input type="text" placeholder="Поиск" class="headline__search-input">
      <div class="headline__search-icon"><span class="sprite icon-search"></span></div>
    </div></div>
    <div class="headline__links"><div class="headline__links-wrap">
      <a href="javascript:;">О проекте</a>
      <a href="javascript:;">Контакты</a>
      <a href="javascript:;">Реклама на портале</a>
      <a href="javascript:;">Личный кабинет</a>
    </div></div>
    <div class="headline__social"><div class="headline__social-items">
      <div class="headline__social-item"><span class="sprite icon-social-vk-white-35"></span></div>
      <div class="headline__social-item"><span class="sprite icon-social-fb-white-35"></span></div>
      <div class="headline__social-item"><span class="sprite icon-social-ok-white-35"></span></div>
      <div class="headline__social-item"><span class="sprite icon-social-ig-white-35"></span></div>
    </div></div>
  </div>
</div>