<div class="horo__banner"></div>
<div class="horo__block"><div class="horo__block-wrap">
  <div class="horo__title">Гороскоп</div>
  <div class="horo__control">
    <div class="horo__control-item is-active">На сегодня</div>
    <div class="horo__control-item">На завтра</div>
  </div>
  <div class="horo__story">
    <div class="horo__types"><span class="sprite icon-horo"></span></div>
    <div class="horo__description">
      <div class="horo__description-type">Близнецы</div>
      <div class="horo__description-date">(21.05 - 21.06)</div>
      <div class="horo__description-text">Легкий беспорядок рискует превратиться в совсем не легкий. Лучше быть готовым к тому, что придется принимать меры по его ликвидации. Впрочем, все не так страшно, как кажется.</div>
    </div>
  </div>
</div></div>
<div class="horo__banner"></div>