<div class="interview__control">
  <div class="interview__control-item is-active">Опросы</div>
</div>
<div class="interview__body">
  <div class="interview__question">Какой-то вопрос, возможно длинный, возможно не очень</div>
  <label class="interview__answer">
    <input type="radio" name="answer" value="1" class="interview__answer-input js-interview-input">
    <span class="interview__answer-name">Вариант ответа на вопрос</span>
  </label>
  <label class="interview__answer">
    <input type="radio" name="answer" value="1" class="interview__answer-input js-interview-input">
    <span class="interview__answer-name">Вариант ответа на вопрос</span>
  </label>
  <label class="interview__answer">
    <input type="radio" name="answer" value="1" class="interview__answer-input js-interview-input">
    <span class="interview__answer-name">Вариант ответа на вопрос</span>
  </label>
  <a class="interview__btn" href="javascript:;">Ответить</a>
</div>