<div class="news-block" news-block ng-controller="newsBlockController"></div>

<div class="widgets cf" widgets></div>

<div class="entries cf" entries ng-controller="peopleController"></div>

<div class="horo" horo></div>

<div class="actual" actual></div>

<div class="job" job></div>

<div class="entries cf" entries ng-controller="afishaController"></div>

<div class="banner-inread"></div>

<div class="multiple" multiple ng-controller="catalogController"></div>

<div class="contest cf" contest></div>

<div class="interview" interview></div>

<div class="social" social></div>

<div class="multiple multiple__sales" multiple ng-controller="salesController"></div>

<div class="news-short" news-short></div>

<div class="banner-inread"></div>