<div class="multiple__control">
  <div class="multiple__control-item" ng-class="{'is-active':$index === tab}" ng-repeat="title in titles">{{ title }}</div>
</div>
<div class="multiple__body ">
  <div class="multiple__sections js-scrollbar">
    <div class="multiple__sections-wrap js-scrollbar-body">
      <div class="multiple__section is-active">
        <span class="multiple__section-icon">
          <span class="sprite icon-arrow-right"></span>
        </span>
        <span class="multiple__section-name">Авто</span>
      </div>
      <div class="multiple__section">
        <span class="multiple__section-icon">
          <span class="sprite icon-arrow-right"></span>
        </span>
        <span class="multiple__section-name">Жизнь</span>
      </div>
      <div class="multiple__section">
        <span class="multiple__section-icon">
          <span class="sprite icon-arrow-right"></span>
        </span>
        <span class="multiple__section-name">Красота</span>
      </div>
    </div>
    <div class="multiple__scrollbar">
      <div class="multiple__scrollbar-pane js-scrollbar-pane"></div>
    </div>
  </div>
  <div class="multiple__items js-scrollbar">
    <div class="multiple__items-wrap js-scrollbar-body">
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('http://placehold.it/300x300/');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('http://placehold.it/300x300/');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
      <div class="multiple__item"><div class="multiple__item-wrap" style="background-image: url('https://img07.rl0.ru/afisha/c500x500/daily.afisha.ru/uploads/images/0/47/047d46f966824bf3a6c9d988056a9479.jpg');"></div></div>
    </div>
    <div class="multiple__scrollbar">
      <div class="multiple__scrollbar-pane js-scrollbar-pane"></div>
    </div>
  </div>
  <div class="multiple__buttons cf">
    <a class="multiple__all" ui-sref="companies">{{ btnText }}</a>
    <a class="multiple__add" href="javascript:;" ng-show="btn">Добавить организацию</a>
  </div>
</div>