<div class="news-short__item cf">
  <div class="news-short__img" style="background-image: url('https://img06.rl0.ru/afisha/c1000x500/daily.afisha.ru/uploads/images/4/ad/4ad8555c4e324ca881b006d53d412037.jpg');"></div>
  <div class="news-short__body">
    <div class="news-short__info">27.03.16 | Бизнес</div>
    <div class="news-short__title">Фальсифицированное масло из Беклемишево продавали в Забайкалье</div>
  </div>
  <a href="javascript:;" class="news-short__link">Фальсифицированное масло из Беклемишево продавали в Забайкалье</a>
</div>
<div class="news-short__item cf">
  <div class="news-short__img" style="background-image: url('https://img06.rl0.ru/afisha/c1000x500/daily.afisha.ru/uploads/images/4/ad/4ad8555c4e324ca881b006d53d412037.jpg');"></div>
  <div class="news-short__body">
    <div class="news-short__info">27.03.16 | Бизнес</div>
    <div class="news-short__title">Фальсифицированное масло из Беклемишево продавали в Забайкалье</div>
  </div>
  <a href="javascript:;" class="news-short__link">Фальсифицированное масло из Беклемишево продавали в Забайкалье</a>
</div>
<div class="news-short__item cf">
  <div class="news-short__img" style="background-image: url('https://img06.rl0.ru/afisha/c1000x500/daily.afisha.ru/uploads/images/4/ad/4ad8555c4e324ca881b006d53d412037.jpg');"></div>
  <div class="news-short__body">
    <div class="news-short__info">27.03.16 | Бизнес</div>
    <div class="news-short__title">Фальсифицированное масло из Беклемишево продавали в Забайкалье</div>
  </div>
  <a href="javascript:;" class="news-short__link">Фальсифицированное масло из Беклемишево продавали в Забайкалье</a>
</div>