<div class="widgets__items">
  <div class="widgets__block"><div class="widgets__block-wrap">
    <!-- <div class="widgets__title">Погода</div> -->
    <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://pogoda.yandex.ru/19" target="_blank"><img src="//info.weather.yandex.net/19/3_white.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
  </div></div>
  <div class="widgets__block"><div class="widgets__block-wrap">
    <div class="widgets__title">Курсы валют</div>
  </div></div>
</div>

<div class="widgets__banner"></div>