<div class="job__control">
  <div class="job__control-item is-active">Вакансии</div>
</div>
<div class="job__list">
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Товаровед приемщик — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Лицензированный охранник/ охранница (123123123) — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Лицензированный охранник/ охранница (123123123) — <span>18 000 р.</span></div>
  </div>
  <div class="job__list-item">
    <div class="job__list-date">24.07.16</div>
    <div class="job__list-name">Лицензированный охранник/ охранница (123123123) — <span>18 000 р.</span></div>
  </div>
  <div class="job__buttons cf">
    <a class="job__buttons-all" href="javascript:;">Все вакансии</a>
    <a class="job__buttons-add" href="javascript:;">Добавить вакансию</a>
  </div>
</div>