<div class="afisha-right__control">
    <div class="afisha-right__control-item is-active">Новости</div>
</div>
<div class="news__list">
    <div class="news__list-item cf">
        <div class="news__list-type news__list-type_green">Интересно</div>
        <div class="news__list-info">24.07.16 | Политика</div>
        <div class="news__list-title">Lorem ipsum</div>
        <img class="news__list-img" src="http://placehold.it/305x210">
        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar vehicula interdum. Nulla accumsan at dui id tincidunt. Donec convallis efficitur imperdiet. Nulla velit tellus, hendrerit ac dignissim vitae, semper id leo. Etiam nec diam nibh.</div>
        <div class="news__more"><a href="javascript:;">Читать далее</a></div>
    </div>
    <div class="news__list-item cf">
        <div class="news__list-type news__list-type_green">Интересно</div>
        <div class="news__list-info">24.07.16 | Политика</div>
        <div class="news__list-title">Lorem ipsum</div>
        <img class="news__list-img" src="http://placehold.it/305x210">
        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar vehicula interdum. Nulla accumsan at dui id tincidunt. Donec convallis efficitur imperdiet. Nulla velit tellus, hendrerit ac dignissim vitae, semper id leo. Etiam nec diam nibh.</div>
        <div class="news__more"><a href="javascript:;">Читать далее</a></div>
    </div>
    <div class="news__list-item cf">
        <div class="news__list-type news__list-type_green">Интересно</div>
        <div class="news__list-info">24.07.16 | Политика</div>
        <div class="news__list-title">Lorem ipsum</div>
        <img class="news__list-img" src="http://placehold.it/305x210">
        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar vehicula interdum. Nulla accumsan at dui id tincidunt. Donec convallis efficitur imperdiet. Nulla velit tellus, hendrerit ac dignissim vitae, semper id leo. Etiam nec diam nibh.</div>
        <div class="news__more"><a href="javascript:;">Читать далее</a></div>
    </div>
    <div class="news__list-item cf">
        <div class="news__list-type news__list-type_green">Интересно</div>
        <div class="news__list-info">24.07.16 | Политика</div>
        <div class="news__list-title">Lorem ipsum</div>
        <img class="news__list-img" src="http://placehold.it/305x210">
        <div class="news__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar vehicula interdum. Nulla accumsan at dui id tincidunt. Donec convallis efficitur imperdiet. Nulla velit tellus, hendrerit ac dignissim vitae, semper id leo. Etiam nec diam nibh.</div>
        <div class="news__more"><a href="javascript:;">Читать далее</a></div>
    </div>
</div>